* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box-container {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  width: 800px;
  text-align: center;
  margin: 10px;
}

h2 {
  margin: 10px;
}

input,
select {
  height: 25px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.169);
  border-radius: 5px;
  margin-right: 5px;
}

#submit-btn {
  height: 25px;
  width: 60px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}

#submit-btn:hover {
  cursor: pointer;
  background-color: #007bffe3;
}

.table-container {
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  text-align: left;
}

thead {
  background-color: #f4f4f4;
}

tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.112);
}

th,
td {
  padding-left: 10px;
}
